.list {
	display: flex;
	flex-direction: column;
	overflow-y: auto;

	.empty {
		font-size: 12px;
		color: var(--color-gray-light);
		line-height: 1;
	}

	.create {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		margin-left: 12px;
		background-color: var(--color-gray-dark);
		color: var(--color-primary);
		border-radius: 50%;
		transition: all 200ms ease-in-out;
		cursor: pointer;

		&:hover {
			background-color: var(--color-primary);
			color: var(--color-black);
			box-shadow: 0 0 6px var(--color-primary);
		}
	}
}
