# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Pycharm
.idea/
__pycache__/

# Environments
.env*
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# node modules
node_modules/
npm-debug.log
yarn-error.log

# OS files
.DS_Store
Thumbs.db

# media
django/media

django/media/avatars/*

django/api/migrations/__pycache__
[0-9][0-9][0-9][0-9]_*.py