
services:
  nodejs:
    build:
      context: ./nodejs
    ports:
      - "4000:4000"
    volumes:
      - ./nodejs:/code/nodejs
      - nodejs_data:/code/nodejs/node_modules
      # - ./nodejs/node_modules:/code/nodejs/node_modules
      # - /code/nodejs/node_modules 

  django:
    build:
      context: ./django
    ports:
      - "8000:8000"
    volumes:
      - ./django:/code/django
    env_file:
      - .env
    depends_on:
      - postgres

  react:
    build:
      context: ./react_frontend
    ports:
      - "3000:3000"
    volumes:
      - ./react:/code/react
    env_file:
      - .env
    depends_on:
      - django    

  postgres:
    image: postgres:16.0
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env

  pgadmin:
    build:
      context: ./pgadmin
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    env_file:
      - .env
    depends_on:
      - postgres

volumes:
  nodejs_data:
  postgres_data:
  pgadmin_data:
