$primary-color: #00fff6;
$background: #000000;
$text-color: #ffffff;

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 12px;
}

.customNavbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $background;
  border-bottom: 2px solid $primary-color;
  box-shadow: 0 0 10px $primary-color;

  .navbarBrand {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $primary-color;
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;

    .logo {
      width: 60px;
      height: 60px;
      margin-right: 10px;
      filter: drop-shadow(0 0 5px $primary-color);
    }
  }

  .profileContainer {
    position: relative;

    .profile {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: 2px solid $primary-color;
      box-shadow: 0 0 5px $primary-color, 0 0 10px $primary-color;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        box-shadow: 0 0 10px $primary-color, 0 0 20px $primary-color;
      }
    }

    .dropdownMenu {
      position: absolute;
      right: 70px;
      top: 10px;

      background: $background;
      border: 1px solid $primary-color;
      border-radius: 8px;
      padding: 10px;
      box-shadow: 0 0 10px $primary-color;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      z-index: 10;

      .dropdownItem {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $primary-color;
        padding: 12px 15px;
        width: 100%;
        border: none;
        background: none;
        cursor: pointer;
        transition: background 0.3s, transform 0.2s, text-shadow 0.3s;

        svg {
          margin-right: 8px;
          font-size: 1.5rem;
          color: $primary-color;
        }

        &:hover {
          background: rgba(0, 255, 246, 0.1);
          transform: scale(1.05);
          text-shadow: 0 0 10px $primary-color, 0 0 20px lighten($primary-color, 15%);
        }
      }
    }

  }
}