@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap");

:root {
	--color-gray-dark: #222;
	--color-gray-light: #666;

	--color-primary-rgb: 0, 255, 246;
	--color-primary: rgb(var(--color-primary-rgb));
	--color-primary-trans: rgba(0, 255, 246, 0.5);

	--color-white: #fff;
	--color-white-trans: rgba(255, 255, 255, 0.5);
	--color-black: #000;

	--color-red: hsl(4deg, 90%, 58%);
	--color-red-trans: hsla(4deg, 90%, 58%, 0.5);
	--color-orange: hsl(36deg, 100%, 50%);
	--color-orange-trans: hsla(36deg, 100%, 50%, 0.5);
	--color-yellow: hsl(54deg, 100%, 62%);
	--color-yellow-trans: hsla(54deg, 100%, 62%, 0.5);
	--color-green: hsl(88deg, 50%, 53%);
	--color-green-trans: hsla(88deg, 50%, 53%, 0.5);
	--color-blue: hsl(199deg, 98%, 48%);
	--color-blue-trans: hsla(199deg, 98%, 48%, 0.5);
}

html {
	background-color: #000;
}

body {
	position: relative;
	margin: 0;
	background-color: inherit !important;
	color: #fff !important;
	font-family: monospace;
	overflow-x: hidden !important;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	appearance: none;
	border: none;
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1 !important;
	margin: 0 !important;
}

#root {
	height: 100vh;
}

*::-webkit-scrollbar {
	width: 1px;
}

*::-webkit-scrollbar-thumb {
	background: var(--color-gray-dark);
}

*::-webkit-scrollbar-track {
	background: transparent;
}