@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap");

:root {
	--color-gray-dark: #222;
	--color-gray-light: #666;

	--color-primary-rgb: 0, 255, 246;
	--color-primary: rgb(var(--color-primary-rgb));

	--color-white: #fff;
	--color-black: #000;
}

html {
	background-color: #000;
}

body {
	position: relative;
	margin: 0;
	background-color: inherit !important;
	color: #fff;
	font-family: monospace;
	overflow-x: hidden !important;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	appearance: none;
	border: none;
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1 !important;
	margin: 0 !important;
}

#root {
	height: 100vh;
}

*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-thumb {
	background: rgba(0, 255, 255, 0.5);
	border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 255, 255, 0.8);
}

*::-webkit-scrollbar-track {
	background: rgba(18, 18, 18, 0.5);
	border-radius: 4px;
}