html {
	background-color: #000;
}

body {
	position: relative;
	margin: 0;
	background-color: inherit !important;
	color: #fff;
	font-family: monospace;
}

* {
box-sizing: border-box;
}

a {
color: inherit;
text-decoration: none;
}

button {
	appearance: none;
	border: none;
	outline: none;
}

#root {
	height: 100vh;
}

#stats {
	position: fixed;
	top: 0;
	left: 0;
}

#stats > * {
	padding: 3px;
}
