{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Transdoodles</title>
    <script src="{% static 'js/spa.js' %}"></script>
    <script src="{% static 'js/register.js' %}" async></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
  </head>
  <body>
    <nav data-container="navigation"></nav>
    <div id="content" data-container="content"></div>
  </body>
</html>
