.lobby {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 36px;
	padding-top: calc(36px + 90px);
	height: 100%;
}

.top, .bottom {
	flex: 1;
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	width: 100%;
	padding: 36px;
}
