@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

$primary-color: #00fff6; // adjust to your preferred neon color
$text-color: #ffffff;
$background-color: #000000;
$error-color: #dc3545;

.friendList {
  position: fixed;
  top: 25%;
  right: 0;
  width: 350px;
  max-height: 80%;
  background-color: $background-color;
  border: 2px solid $primary-color;
  border-radius: 10px;
  box-shadow: 0 0 10px $primary-color;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1000;

  // Toggle Button
  &__toggle {
    padding: 10px;
    background: $primary-color;
    color: $background-color;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    transition: background 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 10px $primary-color;

    &:hover {
      background: lighten($primary-color, 10%);
      box-shadow: 0 0 20px $primary-color;
    }
  }

  // Friend List Box
  &__box {
    padding: 16px;
    overflow-y: auto;
    flex-grow: 1;

    h2, h3 {
      font-family: 'Orbitron', sans-serif;
      color: $primary-color;
      text-shadow: 0 0 10px $primary-color;
      margin-bottom: 12px;
    }

    // Input Search Box
    input {
      width: calc(100% - 32px);
      padding: 8px;
      border: 1px solid $primary-color;
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.1);
      color: $text-color;
      box-shadow: 0 0 5px $primary-color;
      font-family: 'Roboto', sans-serif;

      &:focus {
        outline: none;
        box-shadow: 0 0 10px $primary-color;
      }
    }

    // Buttons
    button {
      padding: 8px 16px;
      background: $primary-color;
      border: none;
      color: $text-color;
      font-family: 'Roboto', sans-serif;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 0 5px $primary-color;
      transition: background 0.3s, box-shadow 0.3s;

      &:hover {
        background: lighten($primary-color, 10%);
        box-shadow: 0 0 10px $primary-color;
      }

      &.remove {
        background: $error-color;
        box-shadow: 0 0 5px $error-color;

        &:hover {
          background: lighten($error-color, 10%);
          box-shadow: 0 0 10px $error-color;
        }
      }
    }

    // Search Results
    .friendList__results, .friendList__friends {
      margin-top: 1rem;

      .friendList__user, .friendList__friend {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        span {
          font-size: 1rem;
          color: $text-color;
        }
      }
    }

    // No friends message
    p {
      font-size: 1rem;
      color: lighten($text-color, 30%);
      text-align: center;
    }
  }
}
