.wrapper {
	position: relative;

	.canvas, .ui {
		position: absolute;
		top: 0;
		left: 0;
	}

	.ui {
		font-family: 'Orbitron', sans-serif;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100vh;

		&.darken {
			background-color: rgba(0, 0, 0, 0.8);
		}

		.countdown {
			font-size: 120px;
			font-weight: 900;

			&.n3 {
				color: var(--color-red-trans);
				-webkit-text-stroke: 3px var(--color-red);
				text-shadow: 0 0 8px var(--color-red);
			}

			&.n2 {
				color: var(--color-orange-trans);
				-webkit-text-stroke: 3px var(--color-orange);
				text-shadow: 0 0 8px var(--color-orange);
			}

			&.n1 {
				color: var(--color-yellow-trans);
				-webkit-text-stroke: 3px var(--color-yellow);
				text-shadow: 0 0 8px var(--color-yellow);
			}

			&.n0 {
				display: none;
			}
		}

		.goal {
			display: flex;
			flex-direction: column;
			align-items: center;

			.title {
				font-size: 120px;
				font-weight: 900;

				&.c0 {
					color: var(--color-white-trans);
					-webkit-text-stroke: 3px var(--color-white);
					text-shadow: 0 0 8px var(--color-white);
				}

				&.c1 {
					color: var(--color-red-trans);
					-webkit-text-stroke: 3px var(--color-red);
					text-shadow: 0 0 8px var(--color-red);
				}

				&.c2 {
					color: var(--color-green-trans);
					-webkit-text-stroke: 3px var(--color-green);
					text-shadow: 0 0 8px var(--color-green);
				}

				&.c3 {
					color: var(--color-blue-trans);
					-webkit-text-stroke: 3px var(--color-blue);
					text-shadow: 0 0 8px var(--color-blue);
				}

				&.c4 {
					color: var(--color-yellow-trans);
					-webkit-text-stroke: 3px var(--color-yellow);
					text-shadow: 0 0 8px var(--color-yellow);
				}
			}

			.message {
				font-size: 30px;
			}

			&:not(.show) {
				display: none;
			}
		}

		.time {
			position: fixed;
			top: 180px;
			left: 0;
			width: 100%;
			text-align: center;
			font-size: 24px;
		}

		.scores {
			display: flex;
			align-items: center;
			justify-content: center;
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;

			.score {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: 18px 36px;

				&.fade {
					opacity: 0.25;
				}

				&.highlight:not(.fade) {
					text-shadow: 0 0 16px;

					animation: pulse 1s infinite;
				}

				.name {
					font-size: 30px;
				}

				.value {
					display: flex;
					align-items: center;
					font-size: 72px;

					.divider {
						font-size: 30px;
						margin: 0 12px;
						color: var(--color-gray-light);
					}

					.received {
						opacity: 0.5;
					}
				}
			}
		}

		.gameover {
			font-size: 120px;
			font-weight: 900;
			color: var(--color-white-trans);
			-webkit-text-stroke: 3px var(--color-white);
			text-shadow: 0 0 8px var(--color-white);

			&.hide {
				display: none;
			}
		}
	}
}

.c0 {
	color: var(--color-white);
}

.c1 {
	color: var(--color-red);
}

.c2 {
	color: var(--color-green);
}

.c3 {
	color: var(--color-blue);
}

.c4 {
	color: var(--color-yellow);
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}