.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/static/images/green.jpg");
  background-size: cover;
}

.login-form {
  background-color: #f8f9fa;
  padding: 40px;
  border-radius: 8px;
}

.login-image {
  width: 100%;
  max-width: 400px;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-form {
    margin-top: 20px;
  }
}

.login {
  text-decoration: underline;
}

.bg-img {
  background-image: url("/static/images/pong.jpg");
  background-size: cover;
  color: white;
  border-radius: 2% 0% 0% 2%;
}

.bg-white {
  background-color: white;
  padding: 2%;
  border-radius: 2%;
}

/* body {
  background-image: url("/static/images/green.jpg");
  background-size: cover;
} */

.form-div {
  padding: 0%;
}

.btn {
  display: inline-block;
  margin-right: 10px;
}

.btn-google,
.btn-intra {
  width: 50px;
  height: 50px;
}

.hr-inline {
  display: inline-block;
  width: 33%;
  border-top: 1px solid rgba(0, 0, 0, 0.334);
  margin: 0 5px;
  margin-bottom: 1%;
}
.btn-login {
  background-color: #ffffff;
  color: white;
  border: 1px solid #b1b1b1;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;

  &:hover {
    border: 1px solid #2172ec;
  }
}
