.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/static/images/green.jpg");
  background-size: cover;
}

.register-form {
  background-color: #f8f9fa;
  padding: 40px;
  border-radius: 8px;
}

.register-image {
  width: 100%;
  max-width: 400px;
}

@media (max-width: 768px) {
  .register-container {
    flex-direction: column;
  }

  .register-form {
    margin-top: 20px;
  }
}

.register {
  text-decoration: underline;
}

.hr-inline-register {
  display: inline-block;
  width: 30%;
  border-top: 1px solid rgba(0, 0, 0, 0.334);
  margin: 0 5px;
  margin-bottom: 1%;
}
.btn-register {
  background-color: #ffffff;
  color: white;
  border: 1px solid #b1b1b1;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;

  &:hover {
    border: 1px solid #2172ec;
  }
}

.show-password {
  width: 4rem;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}
