.player {
	width: 180px;
	margin-bottom: 12px;

	.inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		padding: 12px;
		background-color: var(--color-gray-dark);
		border-radius: 6px;

		.icon {
			color: var(--color-primary);
		}
	}

	&.ready {
		.inner {
			outline: 1px solid var(--color-primary);
			box-shadow: 0 0 6px var(--color-primary);
		}
	}

	&:not(.ready) .check {
		display: none;
	}

	&:not(.master) .award {
		display: none;
	}
}