.list {
	padding: 0;
	background-color: #0008;
	border-collapse: collapse;
	user-select: none;
	cursor: default;

	th {
		text-align: left;
		color: red;
	}

	.row > * {
		padding: 3px 6px;
	}

	.row:not(.header):hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
}
