@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

$primary-color: #00fff6;
$text-color: #ffffff;
$background-color: #000000;

.statistics {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 300px;
    max-height: 70%;
    background-color: $background-color;
    border: 2px solid $primary-color;
    border-radius: 10px;
    box-shadow: 0 0 10px $primary-color;
    z-index: 1;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transform: translateY(100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;

    &.open {
        opacity: 1;
        transform: translateY(0);
    }

    &__toggle {
        position: fixed;
        bottom: 10px;
        left: 10px;
        padding: 10px 20px;
        background: rgba(0, 255, 255, 0.2);
        color: $primary-color;
        border: 1px solid $primary-color;
        border-radius: 8px;
        cursor: pointer;
        text-transform: uppercase;
        font-family: "Orbitron", sans-serif;
        font-size: 1rem;
        z-index: 1100;
        box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
        transition: all 0.3s;

        &:hover {
            background: rgba(0, 255, 255, 0.4);
            box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
        }
    }

    &__close {
        bottom: calc(10px + 350px);
    }

    &__box {
        height: 350px;
        padding: 30px;
        overflow-y: auto;
        flex-grow: 1;

        h2,
        h3 {
            font-family: "Orbitron", sans-serif;
            color: $primary-color;
            text-shadow: 0 0 10px $primary-color;
            margin-bottom: 12px;
        }

        p {
            font-family: "Roboto", sans-serif;
            color: $text-color;
            margin-bottom: 12px;
        }
    }
}

.matchHistory__box {
    margin-left: 10px;
    position: absolute;
    top: 0;
    left: 100%;
    width: 300px;
    max-height: 70%;
    background-color: $background-color;
    border: 2px solid $primary-color;
    border-radius: 10px;
    box-shadow: 0 0 10px $primary-color;
    z-index: 1;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transform: translateY(100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;

    &.open {
        opacity: 1;
        transform: translateY(0);
    }
    &__toggle{
        position: fixed;
        bottom: 10px;
        left: 10px;
        padding: 10px 20px;
        background: rgba(0, 255, 255, 0.2);
        color: $primary-color;
        border: 1px solid $primary-color;
        border-radius: 8px;
        cursor: pointer;
        text-transform: uppercase;
        font-family: "Orbitron", sans-serif;
        font-size: 1rem;
        z-index: 1100;
        box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
        transition: all 0.3s;

        &:hover {
            background: rgba(0, 255, 255, 0.4);
            box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
        }
    }

    &__box {
        padding: 20px;
        overflow-y: auto;
        flex-grow: 1;

        h2,
        h3 {
            font-family: "Orbitron", sans-serif;
            color: $primary-color;
            text-shadow: 0 0 10px $primary-color;
            margin-bottom: 12px;
        }

        p {
            font-family: "Roboto", sans-serif;
            color: $text-color;
            margin-bottom: 12px;
        }
    }
}

@media screen and (max-width: 768px) {
    .statistics {
        width: 90%;
        left: 5%;
    }
}